<h1 class="page-title">Dashboard</h1>

<form id="new-post-form">
    <div>
    <input id="new-post-title" placeholder="Your Title"> 
    </div>
    <div>
    <input id="new-post-content" placeholder="Your Post">
    </div>
    <button id="new-post" type="submit">Add Post</button>
</form>