<h1 class="page-title">Homepage</h1>
{{#each posts as |post|}}
<section class="post-container">
    <div class="post-title">
    <a href="/post/{{post.id}}">{{post.post_title}}</a>
    </div>
    <p class="post-information">Created on: {{post.created_on}}</p>
</section>
{{/each}}