
<form id="login-form">
<h2>Login</h2>
    <div>
        <label id="login-username" for="username-login">Username:</label>
        <input type="text"/>
    </div>
    <div>
        <label id="login-password" for="password-login">Password:</label>
        <input type="text"/>
    </div>
    <div>
        <button id="login-submit-button" type="submit">Submit</button>
    </div>
</form>


<form class="signup-form">
<h2>Sign up!</h2>
    <div>
        <label id="signup-username" for="username-signup">Username:</label>
        <input type="text"/>
    </div>
    <div>
        <label id="signup-password" for="password-signup">Password:</label>
        <input type="text"/>
    </div>
    <div>
        <button id="signup-submit-button" type="submit">Submit</button>
    </div>
</form>
