
<form id="login-form">
<h2>Login</h2>
    <div>
        <label>Username:</label>
        <input id="login-username" type="text"/>
    </div>
    <div>
        <label>Password:</label>
        <input id="login-password" type="text"/>
    </div>
    <div>
        <button id="login-submit-button" type="submit">Submit</button>
    </div>
</form>


<form class="signup-form">
<h2>Sign up!</h2>
    <div>
        <label for="username-signup">Username:</label>
        <input id="signup-username" type="text"/>
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input id="signup-password" type="text"/>
    </div>
    <div>
        <button id="signup-submit-button" type="submit">Submit</button>
    </div>
</form>