<div>
<h2>{{post_title}}</h2>
<p>{{post_content}}</p>
<p>Posted by: {{user.username}} on {{created_on}}</p>
</div>
<form id="comment-form">
<input id="comment-input">
<button type="submit" id="add-comment-button">Add Comment</button>
</form>
