* {
    margin: 0;
    padding: 0;
}

#main-header {
    background-color: rgb(46, 17, 15);
    color: white;
    height: 100px;
}

a, #logout {
    margin-left: 25px;
}

#main-header-title {
    background-color: white;
    border-radius: 7px;
    max-width: 215px;
    color: rgb(46, 17, 15);
    text-align: center;
    box-shadow: 5px 5px rgb(139, 137, 137);
    margin-left: 50px;
    margin-top: 20px;
}

a {
    color: white; 
    text-decoration: none;
}

#login-username{
    border: 2px solid rgb(46, 17, 15);
}

.post-container{
    border: 2px solid rgb(46, 17, 15);
    margin-top: 10px;
    max-width: 800px;
}

.post-title{
    border-bottom: 2px solid rgb(46, 17, 15);
    padding: 10px;
}

.post-content{
    padding: 10px;
}

.post-information{
    border-bottom: 2px solid rgb(46, 17, 15);
}